* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.error-notice {
  margin: 1rem 0;
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid #e07c7c;
  background-color: rgb(223, 182, 182);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: small;
}

.error-notice button {
  background-color: #7e4444;
  width: 30px;
  height: 30px;
  
  border: 1px solid #fff;
  border-radius: 50%;
  color: #fff;
}

.page {
  background-color: #f0f0f0;
  min-width: 100vw;
  min-height: 100vh;
}

.fixed-section {
  width: min(80%, 400px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
  border-radius: 0px 0px 20px 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.watering-button {
  border-radius: 5px;
  padding: 1px;
  border: 1px solid #000;
  margin-left: 1px;
}


.all-plants {
  width: min(90%, 1200px);
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  padding-top: 150px;
}

.plant-container {
  width: 200px;
  height: 300px;
  border-radius: 20px;
  background-color: #bce383;
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.25);
  margin: 10px 10px;
}

.plant-image {
  height: 50%;
  display: flex;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
}

.plant-image svg {
  width: 32px;
  height: 32px;
  fill: #b2b4a5;
}

.plant-details {
  padding: 10px;
  font-size: 10px;
}

.plant-form-wrapper {

  padding: 5px;
}

.plant-form {
  border-radius: 20px;
  height: 100%;
  background-color: #fff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.plant-form input {
  width: 100%;
  padding: 3px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid #000;
  outline: none;
}

.water-indicator {
  height: 10px;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #000;
}

.water-bar {
  height: 100%;
  border-radius: 20px;
  background-color: #86B3DD;
}

.warning {
  color: #882020;
  padding: 3px;
  border: 1px solid #882020;
  border-radius: 10px;
  font-weight: 700;
  background-color: #fff;
}